{% extends 'base.html' %} {% load static %} {% block body %}
<div class="container-relative">
  <a class="back-link" href="{% url 'core:select-artists' %}">
    <div class="arrow">
      <img src="{% static 'img/right-arrow.svg' %}" width="24px" />
    </div>
    <span>VOLTAR</span>
  </a>
  <div class="container-generated" style="background-image: url('{% static 'img/background_img_01.jpg' %}')">
    <div class="result-wrapper">
      <div class="lines-wrapper" id="finalLyrics">
        <div id="lyricsTextgen"></div>
      </div>
      <hr class="solid-bar" />

      <div id="pick-verse__container">
        <span class="result-info-text">Escolha uma opção para complementar a letra</span>
        <button class="new-option" onclick="generateVerse('option1')" id="option1">
          fake music line here
        </button>
        <button class="new-option" onclick="generateVerse('option2')" id="option2">
          fake music line here
        </button>
        <button class="new-option" onclick="generateVerse('option3')" id="option3">
          fake music line here
        </button>
        <span class="result-info-text">Ou insira uma opção abaixo</span>
        <input class="new-option-input" type="text" id="musicLine" name="musicLine" />
      </div>

      <div id="end-generate-music-container">
        <div class="end-music_message">Fim da música</div>

        <button class="button-download" type="button">Fazer download da letra <i class='fas fa-arrow-down'></i></button>
      </div>
    </div>
  </div>

  <div class="footer">
    <div class="container-relative-footer">
      <div class="artists">
        <div class="photo" id="footer-photo-1"></div>
        <div class="photo" id="footer-photo-2"></div>
        <span class="names" id="footer-names">Beyonce & Rihanna</span>
      </div>
      <div class="footer-logo">
        <img class="logo" src="{% static 'img/logo.png' %}" />
        <span class="name">Comfeats</span>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript">
  let result = "{{ result }}";
</script>

{% endblock body %} {% block scripts %}
<script src="{% static 'js/generate_text.js' %}"></script>
<script src='https://kit.fontawesome.com/a076d05399.js'></script>
{% endblock %}