/* GENERAL */
html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;

  /* https://developer.mozilla.org/pt-BR/docs/Web/CSS/Using_CSS_custom_properties */
  --color-white: #ffffff;
}

div {
  box-sizing: border-box;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* PAGE: SELECT ARTISTS */
.container-select-artists,
.container-generated {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  min-height: 100vh;
}

.container-generated {
  padding-bottom: 125px;
}

.brand-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto 0 auto;
}

@media(max-height: 840px) {
  .brand-wrapper {
    margin: 65px 0 65px;
  }
}

.brand-wrapper .logo {
  width: 190px;
  margin-bottom: 20px;
}

.brand-wrapper .name {
  color: var(--color-white);
  font-size: 22px;
  font-style: italic;
  letter-spacing: 1px;
}

.artists-wrapper,
.artists-wrapper .list .item {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
}

.artists-wrapper .info-text {
  max-width: 800px;
  margin-bottom: 48px;
  font-size: 20px;
  color: var(--color-white);
  opacity: 0.6;
  letter-spacing: 1.2px;
}

.artists-wrapper .list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 764px;
}

.artists-wrapper .list .item .photo {
  width: 200px;
  height: 200px;
  margin-bottom: 8px;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5);
}

.artists-wrapper .list .item .name {
  margin-right: auto;
  color: var(--color-white);
}

.overview-container {
  position: absolute;
  bottom: 0;
  /* display: flex; */
  display: none;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 120px;
  padding: 0 138px;
  background-color: rgba(0, 0, 0, 0.4);
  backdrop-filter: saturate(180%) blur(20px);
}

.overview-container .artists {
  display: flex;
  align-items: center;
  height: 100%;
  margin-left: auto;
}

.overview-container .artists .photo {
  width: 96px;
  height: 96px;
  margin-right: 16px;
}

.overview-container .artists .names,
.footer .artists .names {
  margin-left: 16px;
  color: var(--color-white);
}

.overview-container .link {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 210px;
  margin-left: auto;
  padding: 4px 8px 4px 32px;
  border-radius: 50px;
  background-color: rgba(110, 108, 108, 0.6);
  text-decoration: none;
}

.overview-container .link span,
.back-link .span {
  letter-spacing: 1.12px;
  font-style: bold;
  color: var(--color-white);
}

.overview-container .link .arrow,
.back-link .arrow {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 46px;
  height: 46px;
  border-radius: 50%;
  background-color: #69686a;
}

.back-link .arrow {
  transform: rotate(180deg);
}

.container-relative {
  position: relative;
}

.back-link {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 120px;
  margin-left: auto;
  padding: 4px 32px 4px 8px;
  border-radius: 50px;
  background-color: rgba(110, 108, 108, 0.6);
  text-decoration: none;
  position: absolute;
  z-index: 1;
  color: white;
  left: 50px;
  z-index: 1;
  top: 20px;
}
/* PAGE: GENERATE TEXT */
.result-wrapper {
  display: flex;
  flex-direction: column;
  margin-bottom: 50px;
  width: 40%;
}

.result-wrapper .lines-wrapper {
  color: #fff;
  width: 100%;
  height: 250px;
  margin-top: 75px;
  overflow-y: auto;
}

.result-wrapper .new-option,
.result-wrapper .new-option-input {
  background-color: rgba(255, 255, 255, 0.2);
  border: none;
  border-radius: 5px;
  color: #fff;
  margin: 10px 0;
  padding: 15px;
  text-align: initial;
  width: 100%;
}

.result-wrapper .new-option-input {
  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box; /* Firefox, other Gecko */
  box-sizing: border-box;
}

.result-wrapper .new-option:hover {
  background-color: rgba(177, 177, 255, 0.2);
}

.result-info-text {
  color: #fff;
  width: 100%;
}

/* Solid border */
hr.solid-bar {
  border-top: 1px solid #fff;
  margin: 15px 0;
  width: 100%;
}

.footer {
  display: flex;
  position: absolute;
  z-index: 1;
  bottom: 0;
  width: 100%;
  height: 125px;
  background-color: rgba(0, 0, 0, 0.4);
  color: white;
}

.footer .photo {
  height: 96px;
  width: 96px;
  margin-right: 16px;
}

.footer .artists {
  position: absolute;
  display: flex;
  align-items: center;
  height: 100%;
  width: 450px;
  left: 50px;
}

.footer-logo {
  width: 142px;
  height: 100px;
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -50px;
  margin-top: -50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.footer-logo img {
  width: 142px;
  height: 52px;
}

.footer-logo .name {
  padding-top: 10px;
}

.container-relative-footer {
  position: relative;
  width: 100%;
}

#end-generate-music-container {
  display: none;
  margin: 15px 0;
}

.end-music_message {
  color: white;
  display: flex;
  justify-content: center;
}

.button-download {
  width: 100%;
  border: none;
  margin: 25px 0;
  padding: 10px 25px;
  border-radius: 6px;
  text-align: initial;
  font-size: 18px;
  display: flex;
  justify-content: space-between;
  cursor: pointer;
}

.fas .fa-arrow-down {
  font-size: 20px;
}