{% load static %}

<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Lyrics Generator {% block title %}{% endblock %}</title>

    <!-- favicon -->
    <link rel="shortcut icon" href="{% static 'img/logo.ico' %}" />

    <!-- font -->
    <link
      href="https://fonts.googleapis.com/css?family=Gamja+Flower&display=swap"
      rel="stylesheet"
    />

    <!-- css -->
    <link rel="stylesheet" href="{% static 'css/main.css' %}" />
    {% block style %}{% endblock %}
  </head>

  <body>
    {% block body %}{% endblock %}

    <script src="{% static 'js/main.js' %}"></script>
    {% block scripts %}{% endblock %}
  </body>
</html>
